@media (min-width: 1628px){
  .site-header, .site-content, .site-footer {
    width: 1628px !important;
    margin: 0 auto;
  }
}

.site-header, .homepage-intro {
  background-position-x: 60%;
  
  @include media-breakpoint-up(xl){
    background-size: cover;
    background-position-x: center;
  }
}

.site-header {
  background-color: #0f7068;
  background-image: url(/Content/Images/rei-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: $header-bg-shift;
  z-index: 1000;
  position: relative;
  padding-bottom: $header-padding-bottom;
}

// #NAVIGATION

.site-nav {
  position: relative;
  z-index: 1000;
  padding: 12px;
  display: block;
  @include media-breakpoint-up(lg){display: flex;}

  .nav-link{
    font-weight: bold;
  }

  li {
    @include media-breakpoint-down(md){border-bottom: 1px solid #444;}

    a {
    	color: white;
    	font-weight: bold;
    	font-size: 14px;
      padding: 4px 10px;
      margin-right: 2px;
      position: relative;
      z-index: 10;
      @include media-breakpoint-up(xl){margin-right: 10px;}

      text-decoration: none !important;
      display: flex;
      align-items: center;

      &:hover, &:focus {
        background-color: $theme-primary-dark !important;
        @include media-breakpoint-down(md){ background-color: transparent !important; }
        color: white;
        position: relative;
        z-index: 1;

        &::before { color: inherit; }
        &::after { color: inherit; }
      }

      &.active {
        background-color: $theme-primary;
        color: white;
        //border-radius: 50px;

        &:hover, &:focus {
          background-color: $theme-primary-dark;
          color:white;
        }
      }
    }

    &:last-child {
      a {margin-right: 0;}
    }
  }

  .dropdown-menu {
    background-color: $theme-primary-dark !important;
    border: none !important;
    padding: 15px 10px;
    top: 0px !important;
    width: calc(100% - 26px) !important;
    position: relative;

    span {
      display: block;

      a[href="#"]{
        opacity: .5;
      }
    }

    @include media-breakpoint-up(md){
      top: 6px !important;
      width: auto !important;
      border-top: none !important;
    }
  }

  .dropdown-item {
    &:hover, &:focus {
      background-color: $theme-primary !important;
    }
  }
}

.dm-target{
  @include media-breakpoint-down(md){
    margin-left: 15px;
  }
}

// #DESIGN
.media.page {
  display: block;
}

.media-list {
  .media-item {
    position: relative;
    margin-bottom: 30px;
  }

  img {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 18px;
    border: 0;
  }

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

main {
  padding-bottom: 60px !important;
}

.current-bulletin {
  
  .bulletin-content {
    padding: 30px;
    background-color: $color4;
  
    .list-group-item {
      background-color: $color4;
    }
  }
}


$arrow-color: #D1D3D4;

// #ORG-CHART
.org-chart{
  list-style-type: none;
  padding: 0;

  li {
    text-align: center;
    margin: 0 auto;

    span {
      background-color: $theme-primary;
      display: block;
      padding: 20px;
      color: white;
      line-height: 1.2;
      border-radius: 6px;
    }

    .arrow{
      width: 40px;
      height: 40px;
      position: relative;
      margin: 0 auto;


      &::before {
        content: "";
        display: block;
        height: 40px;
        width: 6px;
        background-color: $arrow-color;
        position: absolute;
        
        left: calc(50% - 3px);
      }
  
      &::after {
        content: "";
        display: block;
        height: 20px;
        width: 20px;
        border-bottom: 6px solid $arrow-color;
        border-right: 6px solid $arrow-color;
        position: absolute;
        top: 20px;
        left: calc(50% - 10px);
        transform: rotate(45deg);
        z-index: 5;
      }
    }
    

    &:nth-child(1) {
      @extend .col-lg-6;
      span {background-color: $msu-green;}
      .arrow::before { background-color: $msu-green; }
      .arrow::after { border-color: $msu-green; }
    }

    &:nth-child(2) {
      @extend .col-lg-6;
      span {background-color: $theme-secondary;}
      .arrow::before { background-color: $theme-secondary; }
      .arrow::after { border-color: $theme-secondary; }
    }

    &:nth-child(3) {
      span {background-color: $theme-primary;}
      .arrow::before { background-color: $theme-primary;}
      .arrow::after { border-color: $theme-primary;}
    }
  }

  .level-2 {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    position: relative;
    left: 10px;

    @include media-breakpoint-up(lg){
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      left: 0;
    }

    &::before {
        @include media-breakpoint-down(md){
          content: "";
          display: block;
          width: 6px;
          height: 100%;
          background-color: $theme-primary;
          position: absolute;
          top: -26px;
        }
      }

    li {
      @extend .h-100;
      margin: 10px 0;
      padding: 0;
      color: white;
      line-height: 1.2;
      display: flex;
      //overflow: hidden;

      @include media-breakpoint-up(lg){
        display: block;
        padding: 0 15px;
        margin-top: 0;
        max-width: 100%;
      }

      .arrow {
        @include media-breakpoint-down(md){
          transform: rotate(-90deg);
          margin: 0;
          top: 12px;
        }
      }

    }
    
    span {
      background-color: $theme-primary-dark !important;
    }
  }
}


.theme-header {
  h1{
    font-size: 3rem;
  }
}


// #PROJECTS
.projects-header {
  @extend .network-bg;
}


.projects-list {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  flex-flow: row wrap;
  padding: 0;
  
  li {
      display: block;
      width: 100%;
      padding: 0px;
      margin: 15px 10px !important;

      @include media-breakpoint-up(sm){
          flex: 0 0 46.75%;
          max-width: 47%; 
          min-height: 300px;
      }

      .details {
          padding: 10px;
      }

      h2 {
          font-size: 21px;
          margin: 0 !important;
          margin-top: 10px !important;
          margin-left: 0 !important;
          border: none;
          font-weight: 800;
          font-family: $gotham;

          a { color: $theme-secondary;}
          a:hover { color: $theme-secondary-dark;}
      }

      p {
  
          strong {
              letter-spacing: normal;
          }

          a.btn {margin-top: 10px;}
      }

      .project-summary {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
      }

      a.project-link::after{
        content: "\21E5";
        opacity: .5;
      }
      
  }
}

.projects-list-full {
  display: flex;
  justify-content: flex-start;
  align-content: stretch;
  flex-flow: row wrap;
  padding: 0;
  
  li {
      width: 100%;
      padding: 0px;
      margin: 15px 10px !important;
      padding-top: 30px;
      border-top: 3px solid $gray-lighter;

      .details {
          padding: 10px;
      }

      h2 {
          font-size: 21px;
          margin: 0 !important;
          margin-top: 10px !important;
          margin-left: 0 !important;
          border: none;
          font-weight: 800;
          font-family: $gotham;

          a { color: $theme-secondary;}
          a:hover { color: $theme-secondary-dark;}
      }

      .photo {
        margin-bottom: 0;


        a{
            display: block;
           
            &:hover {
                margin-bottom: 0;
                border-bottom: 0;
                outline: 3px solid $theme-secondary;
                outline-offset: 2px;
            }    
        }
        
    }

      p {
  
          strong {
              letter-spacing: normal;
          }

          a.btn {margin-top: 10px;}
      }

      .project-summary {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }

      a.project-link::after{
        content: "\21E5";
        opacity: .5;
      }
      
  }
}

.transition { transition: all 333ms;}

.topics {
  padding-top:    3rem;
  padding-bottom: 4rem;
  display: grid;
  @include media-breakpoint-up(sm){grid-template-columns: 1fr 1fr;}
  @include media-breakpoint-up(lg){grid-template-columns: 1fr 1fr 1fr;}


  .topic{
    min-height: 120px;
    display: flex;
    align-items: flex-start !important;
    padding: 15px;
    border-radius: 8px;
    z-index: 10;
    margin: 10px !important;
    color: white;
    background-color: $msu-green;
    border: none !important;

    h2{
      margin-bottom: 0;
      line-height: 1.2;
      font-size: 21px;
      position: relative;
      width: 100%;
    }

    p {
      font-size: 12px;
      line-height: 1.4;
      width: 80%;
      font-weight: 500;
    }

    i {
      position: relative;
      left: -50px;
      opacity: 0;
      @extend .transition;

      span {
        font-weight: 400;
        font-size: 14px;
        font-family: $gotham;
        position: relative;
        top: -6px;
      }
    }

    &:hover, &:focus {
      outline: none !important;
      outline-offset: none !important;
      box-shadow: 0 0 0 4px $theme-link-highlight;
      z-index: 15;
      margin: 10px !important;
      color: white !important;

      i{
        left: 0;
        opacity: 1;
        @extend .transition;
      }
    }
  }
}