$gotham: 'Gotham SSm A', 'Gotham SSm B', arial, sans-serif;

.gotham {font-family: $gotham;}

$source-serif: 'source-serif-pro', serif;

.source-serif-pro {
	font-family: $source-serif;
}

body {
	font: 16px/28px $gotham;
	color: $gray-dark;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-moz-osx-font-smoothing: grayscale; /* Fix for firefox rendering */
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 800;
}

h1 { font: 48px/34px; text-transform: capitalize;}

h2 {
	font: 30px/32px; border-bottom: 5px solid #007d7d;
}

.page h2 {
	@include media-breakpoint-up(md){
		width: 75%;
		margin-top: 3.5rem !important;
		margin-bottom: 1.5rem !important;
	}
}

.media h2 {
	width: 100%;
	margin: 0 !important;
}

.fax a {
    color: $gray !important;
}

abbr {
	text-decoration: none;
}

.fw-300 { font-weight: 300;}
.fw-400 { font-weight: 400;}
.fw-500 { font-weight: 500;}
.fw-600 { font-weight: 600;}
.fw-700 { font-weight: 700;}
.fw-800 { font-weight: 800;}

.fs-50 { font-size: 50%; }
.fs-60 { font-size: 60%; }
.fs-70 { font-size: 70%; }
.fs-80 { font-size: 80%; }
.fs-90 { font-size: 90%; }

.fs-120 { font-size: 120%; }
.fs-150 { font-size: 150%; }
.fs-170 { font-size: 170%; }
.fs-200 { font-size: 200%; }